Set ALPN type `xmpp-client` for Direct TLS on Android 10+


In [XEP-0368](https://xmpp.org/extensions/xep-0368.html#reqs), the ALPN protocol `xmpp-client` is defined for using Direct TLS with SRV records.

This allows easier [mixing of XMPP and HTTPS](https://wiki.xmpp.org/web/Tech_pages/XEP-0368) on the same port, a useful feature for getting through overly paranoid firewalls.

Android 10 introduced [`setApplicationProtocols()`](https://developer.android.com/reference/javax/net/ssl/SSLParameters#setApplicationProtocols(java.lang.String[])), so we should make conditional use of it when doing Direct TLS.

Unfortunately, it's not possible to set `SSLParameters` on an `SSLContext`, so we have to either patch Smack's `XMPPTCPConnection`, where it calls `TLSUtils.setEnabledProtocolsAndCiphers()`, or to wrap `SSLContext` and override its `getSocketFactory()` method.

So upstream Smacks lib does not do DirectTLS?

Looks like there is support in [current Smack](https://download.igniterealtime.org/smack/dailybuilds/javadoc/org/jivesoftware/smack/c2s/ModularXmppClientToServerConnection.html), but I don't know how advanced it is.

The specification has gone full circle over the decades. [Before RFC 3920 in 2004, tcp/5223 was used for what you could call "Direct SSL"](https://datatracker.ietf.org/doc/html/rfc3920#appendix-D.1). In the RFC, `STARTTLS` was codified as the standard and "Direct SSL" was dragged along by implementations and mostly ignored otherwise.

In 2015, when Direct TLS became en-vogue again, due to slow handshakes on mobile networks and trying to sneak XMPP through the HTTPS port, [XEP-0368 §3](https://xmpp.org/extensions/xep-0368.html#reqs) added this:

> Client or server MUST set SNI TLS extension to the JID's domain part.

ALPN however is not *required* for Direct TLS, and it looks like [this thread from 2016](https://discourse.igniterealtime.org/t/feature-request-sni-support/73317) is the only mention of ALPN in the context of Smack.